version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 7325APM
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: 7325APM
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_AUTH_DATABASE: admin
    depends_on:
      - mongo

  backend:
    build: ./Backend
    container_name: backend
    restart: always
    ports:
      - "4500:4500"
    depends_on:
      - mongo
    environment:
      - MONGODB_URI=mongodb://admin:7325APM@mongo:27017/ecommerce?authSource=admin
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - JWT_SECRET: ${JWT_SECRET}

  frontend:
    build: ./Frontend
    container_name: frontend
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend

  seller:
    build: ./Seller
    container_name: seller
    restart: always
    ports:
      - "5174:80"
    depends_on:
      - backend

volumes:
  mongo_data:
