name: Docker Compose CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  docker-compose-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Verify Docker
        run: |
          docker version
          docker compose version

      - name: Build Docker images
        run: |
          docker compose build

      - name: Start services
        run: |
          docker compose up -d

      - name: Wait for MongoDB
        run: |
          sleep 15
          docker logs mongo

      - name: Check running containers
        run: |
          docker ps
          docker compose ps

      - name: Stop services
        if: always()
        run: |
          docker compose down -v
